<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="card shadow border">
        <div class="card-body d-flex flex-column align-items-center">
          <div class="form-outline mb-4 btn-upload">
            <input
              type="file"
              id="form2Example1"
              class="form-control"
              name="email"
              (change)="chooseFile($event)"
            />
            <img
              src="https://www.lifewire.com/thmb/TRGYpWa4KzxUt1Fkgr3FqjOd6VQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/cloud-upload-a30f385a928e44e199a62210d578375a.jpg"
              alt=""
              srcset=""
            />

            <qrcode
              [qrdata]="qrData"
              [allowEmptyString]="true"
              [ariaLabel]="'Github Url'"
              [cssClass]="'center'"
              [colorDark]="'#161515'"
              [colorLight]="'#ffffffff'"
              [elementType]="'canvas'"
              [errorCorrectionLevel]="'L'"
              [imageSrc]="imagePreview"
              [imageHeight]="80"
              [imageWidth]="80"
              [margin]="4"
              [scale]="1"
              [title]="'A custom title attribute'"
              [width]="400"
            >
            </qrcode>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="qrcodeImage"></div>
